<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>e-z-Budget</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>e-z-Budget</h1>
      <nav>
        
        <a href="/dashboard">Dashboard</a>
        <a href="/logout">Logout</button>
      
        <a href="/login">Login</a>
      
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>
 
 <!-- <script src="/javascript/logout.js"></script>-->
  
</body>

</html>
